*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #fff;
}

html, body{
    height: 100%;
    width: 100%;
}
#main{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100%;
    width: 100%;
    background-color: rgb(53, 63, 63);
}

.cursor{
    height: 20px;
    width: 20px;
    border-radius: 50px;
    background-color: white;
    position: absolute;
    transition: all linear 0.2s;
    mix-blend-mode: difference;
}
h1{
    font-size: 120px;
    font-weight: 900;
}